{% extends 'base.html' %}
  {% block content %}
  {% load static %}
  <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <div class="pagetitle">
      <h1>OFW</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
          <li class="breadcrumb-item active">OFW</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->
    <section class="section">
      <div class="row">

        <div class="row justify-content-center">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">OFW</h5>

              <!-- Vertical Form -->
              <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="col-6">
                  <div>{{ form.resident.errors }}</div>
                  
                  <p>Resident: 
                    <select class="form-control select2" id="id_resident" name="resident">
                        <option value="{{ form.instance.resident.id }}" selected>{{ form.instance.resident }}</option>
                    </select>
                  </p>
                  <div>{{ form.passport_no.errors }}</div>
                  <p>Passport No: {{ form.passport_no }}</p>
                  <div>{{ form.passport_no.errors }}</div>
                  <p>Country: {{ form.country }}</p>
                </div>
                
                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Submit</button>
                  <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
              </form><!-- Vertical Form -->

            </div>
          </div>  
        </div>
      </div>
    </section>  
    <script src="{% static 'assets/vendor/bootstrap/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/vendor/bootstrap/js/select2.min.js' %}"></script>
    <script>
      function formatRepo (repo) {
        if (repo.loading) {
          return repo.text;
        }
        var markup = '<div class="clearfix">' +
          '<div class="col-sm-12">' +
            '<div class="clearfix">' +
              '<div class="col-sm-8">' + repo.text + '</div>' +
            '</div>' +
          '</div>' +
        '</div>';
        return markup;
      }

      function formatRepoSelection (repo) {
        return repo.text;
      }
      $(document).ready(function() {
        $("#id_resident").select2({
          ajax: {
            url: '/api/residents/',
            dataType: 'json',
            delay: 50,
            data: function (params) {
              return {
                q: params.term, // search term
                page: params.page
              };
            },
            processResults: function (data, params) {
              params.page = params.page || 1;
              return {
                results: data.items,
                pagination: {
                  more: (params.page * 30) < data.total_count
                }
              };
            },
            cache: true
          },
          escapeMarkup: function (markup) { return markup; },
          minimumInputLength: 1,
          templateResult: formatRepo,
          templateSelection: formatRepoSelection
        });

        // Get the elements by their IDs
        var componentsNav = document.getElementById('components-nav');
        var residentListItem = document.getElementById('Ofw');

        // Change the class names
        componentsNav.classList.remove('collapse');
        componentsNav.classList.add('show');

        residentListItem.classList.add('active');
      });
    </script>
{% endblock %}